<html>
<head>
    <title>$i18n.getText("jboard.admin.title")</title>
    <meta name="decorator" content="atl.admin"/>
    $webResourceManager.requireResource("com.bb.jboard.gadgets:admin")
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
</head>
<body>
	<h1>$i18n.getText("jboard.admin.title")</h1>
	
	<h2>$i18n.getText("jboard.admin.settings")</h2>
	<form method="post" action="$applicationProperties.getBaseUrl()/rest/jboard/1.0/admin/settings" class="aui">
	    <div class="field-group">
	        <label for="refreshInterval">$i18n.getText("jboard.alm.refreshInterval")</label>
	        <select id="refreshInterval" name="refreshInterval" class="select" value="$dataSource.optString("refreshInterval")">
	        	<option value="15m" #if($timeSeriesPollingInterval == "15m")selected#end>$i18n.getText("jboard.alm.refreshInterval.15M")</option>
	        	<option value="3H" #if($timeSeriesPollingInterval == "3H")selected#end>$i18n.getText("jboard.alm.refreshInterval.3H")</option>
	        	<option value="1D" #if($timeSeriesPollingInterval == "1D")selected#end>$i18n.getText("jboard.alm.refreshInterval.1D")</option>
	        </select>
	    </div>
	    <div class="field-group">
	        <input type="submit" value="$i18n.getText("jboard.save.label")" class="button">
	    </div>
	</form>
	
	<h2>$i18n.getText("jboard.admin.datasources.existing")</h2>
	
	<table class="aui">
		<thead>
			<tr>
				<th>Name</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			#foreach($dataSource in $dataSources)
				<tr>
					<td width="50%">$dataSource.getString("displayName")</td>
					<td>
						<a href="?dataSourceId=$dataSource.getString("id")" class="aui-button">Edit</a>
						<button data-test-connection="$dataSource.getString("id")" class="aui-button" type="button">Test Connection</button>
						<div data-test-connection="$dataSource.getString("id")" style="display: inline;"></div>
					</td>
				</tr>
				<!--
				<form method="post" action="$applicationProperties.getBaseUrl()/rest/jboard/1.0/admin/dataSources/$dataSource.getString("id")" class="aui">
				    <div class="field-group">
				        <label for="displayName">$i18n.getText("jboard.alm.displayName")</label>
				        <input type="text" id="displayName" name="displayName" class="text" value="$dataSource.getString("displayName")" required>
				    </div>
				    <div class="field-group">
				        <label for="displayName">$i18n.getText("jboard.type")</label>
				        <div class="description">$dataSource.getString("type")</div>
				    </div>
				    <div class="field-group">
				        <label for="url">$i18n.getText("jboard.alm.url")</label>
				        <input type="text" id="url" name="url" class="text" value="$dataSource.getString("url")" required>
				    </div>
				    <div class="field-group">
				        <label for="domain">$i18n.getText("jgbe.qa.domain")</label>
				        <input type="text" id="domain" name="domain" class="text" value="$dataSource.getString("domain")" required>
				    </div>
				    <div class="field-group">
				        <label for="project">$i18n.getText("jgbe.qa.project")</label>
				        <input type="text" id="project" name="project" class="text" value="$dataSource.getString("project")" required>
				    </div>
				    <div class="field-group">
				        <label for="user">$i18n.getText("jgbe.qa.user")</label>
				        <input type="text" id="user" name="user" class="text" value="$dataSource.getString("user")" required>
				    </div>
				    <div class="field-group">
				        <label for="password">$i18n.getText("jgbe.qa.password")</label>
				        <input type="password" id="password" name="password" class="text" value="$dataSource.getString("password")" required>
				    </div>
				    <div class="field-group">
				        <label for="jiraKeyId">$i18n.getText("jboard.alm.jiraKeyId")</label>
				        <input type="text" id="jiraKeyId" name="jiraKeyId" class="text" value="$dataSource.optString("jiraKeyId")">
				    </div>
				    <div class="field-group">
				        <input type="submit" value="$i18n.getText("jboard.save.label")" class="button">
				    </div>
				</form>
				-->
			#end
		</tbody>
	</table>


		<h2>$i18n.getText("jboard.dataSources.add")</h2>
		<form method="post" action="$applicationProperties.getBaseUrl()/rest/jboard/1.0/admin/dataSources" class="aui">
		    <div class="field-group">
		        <label for="displayName">$i18n.getText("jboard.alm.displayName")</label>
		        <input type="text" id="displayName" name="displayName" class="text" required>
		    </div>
		    <div class="field-group">
		        <label for="url">$i18n.getText("jboard.alm.url")</label>
		        <input type="text" id="url" name="url" class="text" required>
		    </div>
		    <div class="field-group">
		        <label for="domain">$i18n.getText("jgbe.qa.domain")</label>
		        <input type="text" id="domain" name="domain" class="text" required>
		    </div>
		    <div class="field-group">
		        <label for="project">$i18n.getText("jgbe.qa.project")</label>
		        <input type="text" id="project" name="project" class="text" required>
		    </div>
		    <div class="field-group">
		        <label for="user">$i18n.getText("jgbe.qa.user")</label>
		        <input type="text" id="user" name="user" class="text" required>
		    </div>
		    <div class="field-group">
		        <label for="password">$i18n.getText("jgbe.qa.password")</label>
		        <input type="password" id="password" name="password" class="text" required>
		    </div>
		    <div class="field-group">
		        <label for="jiraKeyId">$i18n.getText("jboard.alm.jiraKeyId")</label>
		        <input type="text" id="jiraKeyId" name="jiraKeyId" class="text">
		    </div>
		    <div class="field-group">
		        <input type="submit" value="$i18n.getText("jboard.add.label")" class="button">
		    </div>
		</form>


	</body>
</html>
