body {
  padding: 20px;
}

.hidden, form.aui .button.hidden {
  display: none;
}

.inline {
  display: inline;
}

.align-top > select, .align-top > button {
  vertical-align: top;
}

#chartContainer, #chartDiv {
  position: relative;
  width: 100%;
}

#chartOverlay {
  width: 200px;
  height: 50px;
  position: absolute;
  top: 0px;  /* chartArea top  */
  left: 0px; /* chartArea left */
}

#editorDiv {
  margin-bottom: 140px;
}
